---
layout: default
title: The Web Presence of Andres Tuul
---
{% include JB/setup %}

<div class="row">
	<div class="span9">
		{% for post in paginator.posts %}
			<div class="span9 article">
			   <!-- here add you post markup -->
			   <h1><a href="{{ post.url }}">{{ post.title }}</a></h1>
			   <p class="author">
				<span class="date">{{post.date}}</span>
			  </p>
			  <div class="content">
					{{ post.content }}
					<fb:comments-count href="{{ site.production_url | append: post.url }}"></fb:comments-count> comments
			  </div>
			</div>
		{% endfor %}
	</div>

	<div class="span3">
		<div class="about">
		<img src="{{ BASE_PATH }}/pictures/mugshot.jpg" />
			Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
		</div>
	</div>
</div>
<div class="row">
	<div class="span9">		
		<!-- Pagination links -->
		<div class="pagination">
			<hr>
			 {% if paginator.previous_page == 1%}
				<a href="/" class="previous">Previous</a>
			 {% elsif paginator.previous_page %}
				<a href="/page{{paginator.previous_page}}" class="previous">Previous</a>
			 {% else %}
				<span class="previous">Previous</span>
			 {% endif %}
				<span class="page_number ">{{paginator.page}} of {{paginator.total_pages}}</span>
			 {% if paginator.next_page %}
				<a href="/page{{paginator.next_page}}" class="next ">Next</a>
			 {% else %}
				<span class="next ">Next</span>
			{% endif %}
		</div>
	</div>
</div>