---
layout: default
title: The Web Presence of Andres Tuul
---
{% include JB/setup %}
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_GB/all.js#xfbml=1";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
<script>


$(document).ready(function(){

    //The .on function will attach the event to all current
    // elements that match the selector and all future elements
    // that will match the selector
    $(document).on('DOMNodeInserted', '.fb_comments_count', function(e) {
    	switch (parseInt(e.target.innerText)) {
    		case 0:
    			$(e.target.parentNode.parentNode).remove();
    			break;
    		case 1:
    			$(e.target.parentNode.parentNode).append(" comment");
    			break;
			default:
				$(e.target.parentNode.parentNode).append(" comments");
				break;
    	}
    });

});

</script>
<div class="row">
	<div class="about">
	<img class="profile-pic" src="{{ BASE_PATH }}/pictures/mugshot.jpg" />
	<p>Hi, my name is Andres Tuul. I'm currently studying BSc Computer Science in King's College London. I like to ask questions and this space here should come to reflect that. My interests are broad and my flights of fancy grandiose. I find that writing helps to clarify my mind and reasoning. That is the reason for this blog. I'm always looking for people to go on adventures with, so if you think we might hit it off give me a shout out</p>
	</div>
</div>

<div class="row">
	<div class="">
		{% for post in paginator.posts %}
			{% case post.layout %}
			{% when "quote" %}
				<div class="article">		
					<blockquote><span class="bqstart">&#8220;</span>
					<a href="{{ post.url }}">
						<p class="quote">
							{{ post.title }}
						</p>
					</a>
					<a class="comment-link" href="{{ post.url | append: "#comments" }}"><fb:comments-count href="{{ site.production_url | append: post.url }}"></fb:comments-count></a>
					<span class="date">{{ post.date | date: "%d.%m.%Y" }}</span>
					<span class="bqend">&#8221;</span></blockquote>
					<hr>
				</div>
			{% when "post" %}
				<div class="article">
				   <!-- here add you post markup -->
				   <h1><a href="{{ post.url }}">{{ post.title }}</a></h1>
					<span class="date">{{ post.date | date: "%d.%m.%Y" }}</span>
				  <div class="content">
						{{ post.content }}
				  		<a class="comment-link" href="{{ post.url | append: "#comments" }}"><fb:comments-count href="{{ site.production_url | append: post.url }}"></fb:comments-count></a>
				  </div>
				  <hr>
				</div>		
			{% endcase %}
		{% endfor %}
	</div>
</div>

<div class="row">
	<div class="pager">		
		<!-- Pagination links -->
		<div class="pagination">
			 {% if paginator.previous_page == 1%}
				<a href="/" class="previous">Previous</a>
			 {% elsif paginator.previous_page %}
				<a href="/page{{paginator.previous_page}}" class="previous">Previous</a>
			 {% else %}
				<span class="previous">Previous</span>
			 {% endif %}
				<span class="page_number ">{{paginator.page}} of {{paginator.total_pages}}</span>
			 {% if paginator.next_page %}
				<a href="/page{{paginator.next_page}}" class="next ">Next</a>
			 {% else %}
				<span class="next ">Next</span>
			{% endif %}
		</div>
	</div>
</div>