/* Override some defaults */
html, body {
  background-color: #eee;
}
.footer {
	width:740px;
}
.navbar {
  margin-bottom: 0;
  margin-right: auto;
  margin-left: auto;
  width: 740px;
  font-family: 'Lato', sans-serif;
}

.navbar-inner {
	background: rgb(5,33,15); /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzA1MjEwZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwZjI2MTciIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  rgba(5,33,15,1) 0%, rgba(15,38,23,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(5,33,15,1)), color-stop(100%,rgba(15,38,23,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(5,33,15,1) 0%,rgba(15,38,23,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(5,33,15,1) 0%,rgba(15,38,23,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(5,33,15,1) 0%,rgba(15,38,23,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(5,33,15,1) 0%,rgba(15,38,23,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#05210f', endColorstr='#0f2617',GradientType=0 ); /* IE6-8 */

	padding-left: 20px;
	padding-right: 20px;
	-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25),inset 0 -1px 0 rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25),inset 0 -1px 0 rgba(0, 0, 0, 0.1);
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25),inset 0 -1px 0 rgba(0, 0, 0, 0.1)
	
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
}
.navbar .brand:hover {
  color: #FFFFFF;
   -moz-text-shadow:    inset 0 0 10px #E13659;
   -webkit-text-shadow: inset 0 0 10px #E13659;
   text-shadow:         inset 0 0 10px #E13659;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.navbar .brand {
	float: left;
	display: block;
	padding: 8px 20px 12px;
	margin-left: -20px;
	font-size: 20px;
	font-weight: 200;
	line-height: 1;
	color: #ffffff;
}

.bqstart {
     float: left;
     height: 45px;
     margin-top: -20px;
     /*padding-top: 45px;*/
     margin-bottom: -50px;
     font-size: 700%;
     color: #FF0000;
 }

.bqend {
 float: right;
 height: 25px;
 margin-top: -75px;
 padding-top: 45px;
 font-size: 700%;
 color: #FF0000;
}
.shift {
 position: relative;
bottom: 0px;
right: -72px;
}
blockquote {
	position:relative;
	border:0;
	padding:0;
}
blockquote .quote {
	margin-top: 45px;
	margin-bottom: 70px;
}
blockquote a {
	color: #7A7A7A;
}
.comment-link {
	position: absolute;
	right: 0;
	color: #0088cc;
}
.date {
	text-size:13px;
	color: rgba(0, 0, 0, 0.4);
}
.quote {
	text-align: center;
	font-size:18px;
	padding: 0 40px;
}
.page-header h1 {
	padding: 0px 125px;
	text-align:center;
}
p {
	font-size:14px;
}
h1 > a {
  color: #4cb4e8;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
a:hover {
	text-decoration: none;
}
.navbar .nav > li > a {
	float: none;
	padding: 10px 10px 11px;
	line-height: 19px;
	color:#CDCDCD
	text-decoration: none;
	text-shadow: 0 -1px 0 rgba(202, 68, 68, 0.25);
}
.navbar .nav .active > a, .navbar .nav .active > a:hover {
	color: #FF011D
	text-decoration: none;
	background-color: rgb(14, 34, 11);
}
.container > footer {
  margin-top: 20px;
}
.container > footer p {
  text-align: center; /* center align it with the container */
}

.article {
	margin-left: 20px;
	padding: 5px 40px;
}

.about-post {
font-size: 13px !important;
color: rgb(117, 113, 113);
height: 100px;
margin-right: -20px;
margin-top: -20px;
margin-bottom: 30px;
padding: 20px;
}
.about-post > p,
.about > p {
font-size: 13px !important;
color: rgb(117, 113, 113);
}
.about {
	font-size:13px !important;
	height:100px;
	margin-right: -20px;
	margin-top: -20px;
	margin-bottom: 30px;
	padding: 15px;
	background-color: rgba(239, 255, 174, 0);
	-webkit-box-shadow: inset 0 0 30px rgba(197, 181, 129, 0.32);
	box-shadow: inset 0 0 30px rgba(197, 181, 129, 0.32);

}
.profile-pic {
	height:100%;
	float: left;
	margin-right:10px;
	-webkit-border-radius: 3px;
	border-radius:3px;
}
.published {
position: absolute;
right: 10px;
}

.pagination {
	text-align: center;
}
.pager {
	padding:0 180px;
}
 .pagination .previous {
	float: left;
	padding: 0;
	line-height: normal;
	text-decoration: none;
	border: 0;
	border-left-width: 0;
 }
 
 .pagination .next {
	float: right;
	padding: 0;
	line-height: normal;
	text-decoration: none;
	border: 0;
	border-left-width: 0;
 }
 .pagination .page_number {
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 12px;
	line-height: normal;
	color: rgb(148, 148, 148);
 }
.article > .content {
	position: relative;
}
.container > .content {
	margin:0;
	-webkit-box-shadow:0 2px 20px rgba(0, 0, 0, 0.25),inset 0 0px 0 rgba(0, 0, 0, 0.1);
 /*margin: 0px 100px;*/
}
.container {
	width:740px;
}
/* The white background content wrapper */
.content {
  background-color: #fff;
  padding: 20px;
  -webkit-border-radius: 0 0 6px 6px;
     -moz-border-radius: 0 0 6px 6px;
          border-radius: 0 0 6px 6px;
  /*-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15);
     -moz-box-shadow: 0 1px 2px rgba(0,0,0,.15); */
          /*box-shadow: 0 1px 2px rgba(0,0,0,.15);*/
}

/* Page header tweaks */
.page-header {
  position:relative;
  background-color: #f5f5f5;
  padding: 20px 20px 10px;
  margin: -20px -20px 20px -20px
}

.topbar .btn {
  border: 0;
}


/* tag_box ======================================================== */

.tag_box {
	list-style:none;
	margin:0;
	padding:5px 0 ;
	overflow:hidden;
}
.tag_box li {
	line-height:28px;
}
.tag_box.inline li {
	float:left;
}
.tag_box a {
	padding: 3px 6px;
	margin: 2px;
	background: #eee;
	color:#005F6B;
	border-radius: 3px;
	text-decoration:none;
}
.tag_box a span{
	vertical-align:super;
	font-size:0.8em;
}
.tag_box a.active {
	background:#57A957;
	border:1px solid #4C964D;
	color:#FFF;
}
	