<div class="page-header">
	<blockquote><span class="bqstart">&#8220;</span>
		<p class="quote">
			{{ page.title }}
		</p>
	<span class="date">{{ page.date | date: "%d.%m.%Y" }}</span>
	<span class="bqend">&#8221;</span></blockquote>
</div>

<div class="row" style="margin-left:0;padding: 0 60px;">
  <div class="">
    <hr>
	<div class="row">
		<div class="about-post">
		<img class="profile-pic" src="{{ BASE_PATH }}/pictures/mugshot.jpg" />
		<p>Hi, my name is Andres Tuul. I'm currently studying BSc Computer Science in King's College London. I like to ask questions and this space here should come to reflect that. My interests are broad and my flights of fancy grandiose. I find that writing helps to clarify my mind and reasoning. That is the reason for this blog. I'm always looking for people to go on adventures with, so if you think we might hit it off give me a shout out</p>
		</div>
	</div>
    {% include JB/comments-providers/facebook %}
  </div>

  {% unless page.tags == empty %}
    <h4>Tags</h4>
    <ul class="tag_box">
    {% assign tags_list = page.tags %}
    {% include JB/tags_list %}
    </ul>
  {% endunless %}  
  </div>
</div>
